@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body {
  background-color: yellow;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}
li {
text-align: center;
}
ul {
  text-align: center;
}
